@page
@model FoodServiceOccupancyForecast.Web.Pages.RestaurantMapModel
@{
    ViewData["Title"] = "Карта ресторана";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - FoodServiceOccupancyForecast</title>
    <link rel="stylesheet" href="~/css/restaurant-map.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="restaurant-map">
        <!-- ==================== HEADER ==================== -->
        <header class="header">
            <div class="header__logo">
                <div class="logo-vector"></div>
                <span class="logo-text">FoodService</span>
            </div>

            <div class="statistics-container">
                <div class="statistics-1-container">
                    <div class="statistics-icon">🪑</div>
                    <div class="statistics-right-block">
                        <span class="statistics-text">Занято 0 из 0 столов</span>
                    </div>
                </div>
                <div class="statistics-2-container">
                    <div class="statistics-icon">👤</div>
                    <div class="statistics-right-block">
                        <span class="statistics-text">Количество гостей: 0</span>
                    </div>
                </div>
                <div class="statistics-3-container">
                    <div class="statistics-icon">📅</div>
                    <div class="statistics-right-block">
                        <span class="statistics-text">Забронировано 0 столов</span>
                    </div>
                </div>
            </div>
        </header>

        <!-- ==================== LEFT SIDEBAR ==================== -->
        <aside class="left-menu-container">
            <div class="left-menu__contain-buttons">
                <!-- Navigation -->
                <div class="contain-buttons__navigation">
                    <div class="navigation-rect">
                        <span class="navigation-text">Навигация</span>
                    </div>
                </div>

                <!-- Hall buttons -->
                <div class="nav-item nav-item--active" data-hall="general">
                    <span class="nav-item-text">Общая карта</span>
                </div>
                <div class="nav-item" data-hall="hall1">
                    <span class="nav-item-text">Зал №1</span>
                </div>
                <div class="nav-item" data-hall="hall2">
                    <span class="nav-item-text">Зал №2</span>
                </div>
                <div class="nav-item nav-item--highlight" data-hall="hall3">
                    <span class="nav-item-text">Зал №3 (2 этаж)</span>
                </div>
                <div class="nav-item" data-hall="veranda">
                    <span class="nav-item-text">Веранда</span>
                </div>

                <!-- Sub buttons -->
                <div class="contain-buttons__personal">
                    <span class="sub-button-text">Персонал</span>
                </div>
                <div class="contain-buttons__analitics">
                    <span class="sub-button-text">Аналитика</span>
                </div>
                <div class="contain-buttons__reservations">
                    <span class="sub-button-text">Бронирования</span>
                </div>
                <div class="contain-buttons__info-about">
                    <span class="sub-button-text">Информация о заведении</span>
                </div>
            </div>

            <div class="load-indicator">Текущая нагрузка: 0%</div>
        </aside>

        <!-- ==================== MAP AREA ==================== -->
        <main class="map-area">
            <!-- Background decoration -->
            <div class="vetka"></div>

            <!-- ==================== HALL 1 ==================== -->
            <div class="hall-1-container">
                <div class="hall-1"></div>

                <!-- Table 1 -->
                <div class="table-group" style="width: 115.37px; height: 90.84px; left: 26.19px; top: 22px;">
                    <div class="table__sofa" style="width: 77px; height: 31.93px; left: 0px; top: 8.86px; transform: rotate(-90.85deg);"></div>
                    <div class="table__chair" style="left: 90.08px; top: 65.61px; transform: rotate(-89.47deg);"></div>
                    <div class="table__chair" style="left: 90.05px; top: 10.62px; transform: rotate(-90.76deg);"></div>
                    <div class="table" style="width: 45.99px; height: 89.84px; left: 38.81px; top: 0px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-0.11deg);"></div>
                        <span class="table__number" style="left: 1px; top: 0px;">1</span>
                    </div>
                </div>

                <!-- Table 2 -->
                <div class="table-group" style="width: 91.35px; height: 89.35px; left: 174px; top: 49px;">
                    <div class="table__chair" style="left: 0.97px; top: 1.03px; transform: rotate(138.03deg);"></div>
                    <div class="table__chair" style="left: 55px; top: 50px; transform: rotate(44.35deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 54px; transform: rotate(44.35deg);"></div>
                    <div class="table__chair" style="left: 56px; top: 0px; transform: rotate(44.35deg);"></div>
                    <div class="table" style="width: 62px; height: 61.95px; left: 13px; top: 12px;">
                        <div class="table__body" style="width: 42.91px; height: 44.76px; left: 0; top: 0; transform: rotate(46.23deg);"></div>
                        <span class="table__number" style="left: 23px; top: 5px;">2</span>
                    </div>
                </div>

                <!-- Table 3 -->
                <div class="table-group" style="width: 118.33px; height: 89.84px; left: 296.67px; top: 25px;">
                    <div class="table__sofa" style="width: 77px; height: 31.5px; left: 85.33px; top: 5.79px; transform: rotate(88.87deg);"></div>
                    <div class="table__chair" style="left: 0.1px; top: 62.28px; transform: rotate(90.35deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 7.14px; transform: rotate(89.25deg);"></div>
                    <div class="table" style="width: 45.99px; height: 89.84px; left: 29.33px; top: 0px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-0.11deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">3</span>
                    </div>
                </div>

                <!-- Table 4 -->
                <div class="table-group" style="width: 160.22px; height: 107.72px; left: 133.55px; top: 143.96px;">
                    <div class="table__chair" style="left: 42.5px; top: 0px; transform: rotate(178.67deg);"></div>
                    <div class="table__chair" style="left: 87.5px; top: 0.19px; transform: rotate(178.67deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 43.04px; transform: rotate(88.69deg);"></div>
                    <div class="table__chair" style="left: 134.5px; top: 43.52px; transform: rotate(-91.66deg);"></div>
                    <div class="table__chair" style="left: 90.45px; top: 82.04px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 45.45px; top: 81.04px; transform: rotate(-1.57deg);"></div>
                    <div class="table" style="width: 90.2px; height: 46.7px; left: 34.45px; top: 30.04px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-90.56deg);"></div>
                        <span class="table__number" style="left: 0px; top: 1px;">4</span>
                    </div>
                </div>

                <!-- Table 5 -->
                <div class="table-group" style="width: 90.32px; height: 91.34px; left: 17px; top: 197px;">
                    <div class="table__chair" style="left: 0px; top: 55px; transform: rotate(44.85deg);"></div>
                    <div class="table__chair" style="left: 52px; top: 56px; transform: rotate(-43.49deg);"></div>
                    <div class="table__chair" style="left: 55px; top: 3px; transform: rotate(-132.27deg);"></div>
                    <div class="table__chair" style="left: 5px; top: 0px; transform: rotate(137.36deg);"></div>
                    <div class="table" style="width: 62px; height: 61.95px; left: 14px; top: 16px;">
                        <div class="table__body" style="width: 42.91px; height: 44.76px; left: 0; top: 0; transform: rotate(46.23deg);"></div>
                        <span class="table__number" style="left: 24px; top: 4px;">5</span>
                    </div>
                </div>

                <!-- Table 6 -->
                <div class="table-group" style="width: 110.36px; height: 151.68px; left: 99.64px; top: 274px;">
                    <div class="table__sofa" style="width: 77px; height: 30.48px; left: 78.36px; top: 35px; transform: rotate(88.87deg);"></div>
                    <div class="table__chair" style="left: 39.36px; top: 0px; transform: rotate(179.86deg);"></div>
                    <div class="table__chair" style="left: 39.36px; top: 126px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 0.02px; top: 89.12px; transform: rotate(89.14deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 42.1px; transform: rotate(89.08deg);"></div>
                    <div class="table" style="width: 45.81px; height: 89.75px; left: 28.36px; top: 30px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-0.11deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">6</span>
                    </div>
                </div>

                <!-- Table 7 -->
                <div class="table-group" style="width: 106.65px; height: 151.68px; left: 210.96px; top: 273px;">
                    <div class="table__sofa" style="width: 77px; height: 29.2px; left: 0px; top: 35.83px; transform: rotate(-91.18deg);"></div>
                    <div class="table__chair" style="left: 41.04px; top: 0px; transform: rotate(179.86deg);"></div>
                    <div class="table__chair" style="left: 44.04px; top: 126px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 81.22px; top: 90.59px; transform: rotate(-90.97deg);"></div>
                    <div class="table__chair" style="left: 80.15px; top: 43.53px; transform: rotate(-91.33deg);"></div>
                    <div class="table" style="width: 45.81px; height: 89.75px; left: 32.04px; top: 30px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0;"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">7</span>
                    </div>
                </div>

                <!-- Table 8 -->
                <div class="table-group" style="width: 90.2px; height: 131px; left: 339px; top: 238px;">
                    <div class="table__sofa" style="width: 77px; height: 32px; left: 6px; top: 0px;"></div>
                    <div class="table__sofa" style="width: 77px; height: 32px; left: 6px; top: 99px; transform: rotate(179.99deg);"></div>
                    <div class="table" style="width: 90.2px; height: 46.7px; left: 0px; top: 44px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-90.56deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">8</span>
                    </div>
                </div>

                <!-- Table 9 -->
                <div class="table-group" style="width: 90.35px; height: 88.33px; left: 13px; top: 390px;">
                    <div class="table__chair" style="left: 1px; top: 0px; transform: rotate(135.03deg);"></div>
                    <div class="table__chair" style="left: 55px; top: 0px; transform: rotate(-135.47deg);"></div>
                    <div class="table__chair" style="left: 50.16px; top: 52.98px; transform: rotate(-44.52deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 52px; transform: rotate(44.85deg);"></div>
                    <div class="table" style="width: 62px; height: 61.95px; left: 14px; top: 13px;">
                        <div class="table__body" style="width: 42.91px; height: 44.76px; left: 0; top: 0; transform: rotate(46.23deg);"></div>
                        <span class="table__number" style="left: 25px; top: 5px;">9</span>
                    </div>
                </div>

                <!-- Table 10 -->
                <div class="table-group" style="width: 150.97px; height: 112.77px; left: 139.8px; top: 444.9px;">
                    <div class="table__chair" style="left: 36.3px; top: 0px; transform: rotate(178.93deg);"></div>
                    <div class="table__chair" style="left: 83.3px; top: 0.41px; transform: rotate(178.93deg);"></div>
                    <div class="table__chair" style="left: 125.24px; top: 47.56px; transform: rotate(-91.71deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 46.39px; transform: rotate(89.81deg);"></div>
                    <div class="table__chair" style="left: 86.2px; top: 87.1px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 36.2px; top: 87.1px; transform: rotate(-1.57deg);"></div>
                    <div class="table" style="width: 90.2px; height: 46.7px; left: 28.2px; top: 33.1px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-90.56deg);"></div>
                        <span class="table__number" style="left: 3px; top: 3px;">10</span>
                    </div>
                </div>

                <!-- Table 11 -->
                <div class="table-group" style="width: 90.2px; height: 128.57px; left: 339px; top: 411px;">
                    <div class="table__sofa" style="width: 77px; height: 31px; left: 6px; top: 0px;"></div>
                    <div class="table__sofa" style="width: 77px; height: 32px; left: 5.77px; top: 95.43px; transform: rotate(179.15deg);"></div>
                    <div class="table" style="width: 90.2px; height: 46.7px; left: 0px; top: 39px;">
                        <div class="table__body" style="width: 45.81px; height: 89.75px; left: 0; top: 0; transform: rotate(-90.56deg);"></div>
                        <span class="table__number" style="left: 0px; top: 2px;">11</span>
                    </div>
                </div>

                <!-- Fireplace -->
                <div class="fireplace-group">
                    <div class="fireplace-body"></div>
                    <span class="fireplace-label">Камин</span>
                </div>

                <!-- Piano -->
                <div class="piano-frame">
                    <div class="piano-body"></div>
                    <span class="piano-label">Рояль</span>
                </div>

                <!-- Doors -->
                <div class="door" style="left: 413px; top: 113px; transform: matrix(0.01, 1, 1, -0.01, 0, 0);"></div>
                <div class="door" style="left: 413px; top: 146px; transform: rotate(-90.42deg);"></div>
                <div class="door" style="left: 0px; top: 545px; transform: rotate(90.58deg);"></div>
            </div>

            <!-- ==================== CIRCLE HALL ==================== -->
            <div class="circle-hall-container">
                <div class="circle--body"></div>

                <!-- Table 13 -->
                <div class="table-group" style="width: 83.35px; height: 85.35px; left: 89px; top: 143px;">
                    <div class="table__chair" style="left: 46px; top: 47px; transform: rotate(-43.5deg);"></div>
                    <div class="table__chair" style="left: 48px; top: 0px; transform: rotate(-136.17deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 0px; transform: rotate(138.09deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 50px; transform: rotate(45.47deg);"></div>
                    <div class="table" style="width: 53.06px; height: 53.08px; left: 15px; top: 15px;">
                        <div class="table__body" style="width: 37.13px; height: 37.93px; left: 0; top: 0; transform: rotate(-43.89deg);"></div>
                        <span class="table__number" style="left: 18px; top: 6px;">13</span>
                    </div>
                </div>

                <!-- Table 14 -->
                <div class="table-group" style="width: 83.35px; height: 84.35px; left: 172px; top: 142px;">
                    <div class="table__chair" style="left: 48px; top: 49px; transform: rotate(-43.5deg);"></div>
                    <div class="table__chair" style="left: 48px; top: 1px; transform: rotate(-133.78deg);"></div>
                    <div class="table__chair" style="left: 1px; top: 0px; transform: rotate(135.87deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 49px; transform: rotate(45.82deg);"></div>
                    <div class="table" style="width: 54.51px; height: 54.51px; left: 14px; top: 15px;">
                        <div class="table__body" style="width: 38.14px; height: 38.96px; left: 0; top: 0; transform: rotate(-44.95deg);"></div>
                        <span class="table__number" style="left: 18px; top: 6px;">14</span>
                    </div>
                </div>

                <!-- Table 15 -->
                <div class="table-group" style="width: 89.17px; height: 108.93px; left: 269.95px; top: 86.8px;">
                    <div class="table__chair" style="left: 27.05px; top: 76.2px; transform: rotate(-22.78deg);"></div>
                    <div class="table__chair" style="left: 56.05px; top: 64.2px; transform: rotate(-24.52deg);"></div>
                    <div class="table__chair" style="left: 28.9px; top: 0px; transform: rotate(158.14deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 11.08px; transform: rotate(154.93deg);"></div>
                    <div class="table" style="width: 72.59px; height: 58.24px; left: 7.05px; top: 25.2px;">
                        <div class="table__body" style="width: 37.26px; height: 63.24px; left: 0; top: 0; transform: rotate(-112deg);"></div>
                        <span class="table__number" style="left: 16px; top: 16px;">15</span>
                    </div>
                </div>

                <!-- Table 16 -->
                <div class="table-group" style="width: 69.14px; height: 92.59px; left: 6px; top: 167.09px;">
                    <div class="table__chair" style="left: 42.83px; top: 0.48px; transform: rotate(177.61deg);"></div>
                    <div class="table__chair" style="left: 42px; top: 66.91px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 6px; top: 65.91px; transform: rotate(-1.57deg);"></div>
                    <div class="table__chair" style="left: 6.82px; top: 0px; transform: rotate(177.61deg);"></div>
                    <div class="table" style="width: 69.14px; height: 38px; left: 0px; top: 26.91px;">
                        <div class="table__body" style="width: 37.78px; height: 69.03px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 2px; top: 0px;">16</span>
                    </div>
                </div>

                <!-- Table 17 -->
                <div class="table-group" style="width: 69.27px; height: 99.34px; left: 160px; top: 264px;">
                    <div class="table__sofa" style="width: 68px; height: 28px; left: 1px; top: 71px; transform: rotate(-179.72deg);"></div>
                    <div class="table__sofa" style="width: 68px; height: 28px; left: 1px; top: 0px;"></div>
                    <div class="table" style="width: 69.27px; height: 35.54px; left: 0px; top: 33px;">
                        <div class="table__body" style="width: 35.51px; height: 69.26px; left: 0; top: 0; transform: rotate(-89.98deg);"></div>
                        <span class="table__number" style="left: 2px; top: 4px;">17</span>
                    </div>
                </div>

                <!-- Table 18 -->
                <div class="table-group" style="width: 98.41px; height: 106.39px; left: 253px; top: 215px;">
                    <div class="table__chair" style="left: 26px; top: 72px; transform: rotate(31.57deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 53px; transform: rotate(32.86deg);"></div>
                    <div class="table__chair" style="left: 64px; top: 16px; transform: rotate(-148.25deg);"></div>
                    <div class="table__chair" style="left: 38px; top: 0px; transform: rotate(-145.34deg);"></div>
                    <div class="table" style="width: 72.8px; height: 64.37px; left: 10.37px; top: 19.07px;">
                        <div class="table__body" style="width: 35.86px; height: 63.48px; left: 0; top: 0; transform: rotate(-57.47deg);"></div>
                        <span class="table__number" style="left: 16.63px; top: 7.93px;">18</span>
                    </div>
                </div>

                <!-- Bar -->
                <div class="bar-container">
                    <div class="bar__chair" style="left: 136px; top: 91px; transform: rotate(179.78deg);"></div>
                    <div class="bar__chair" style="left: 47px; top: 91.35px; transform: rotate(179.78deg);"></div>
                    <div class="bar__chair" style="left: 91px; top: 91.17px; transform: rotate(179.78deg);"></div>
                    <div class="bar"></div>
                </div>
            </div>

            <!-- ==================== HALL 3 (2nd floor) ==================== -->
            <div class="hall-3-container">
                <div class="hall-3-body"></div>

                <!-- Second floor stairs -->
                <div class="second-floor-container">
                    <div class="second-floor-line--right"></div>
                    <div class="second-floor-line--bottom"></div>
                    <span class="stairs-label">Лестница</span>
                </div>

                <!-- DJ -->
                <div class="DJ-container">
                    <div class="DJ-body">
                        <span class="DJ-label">Диджей</span>
                    </div>
                </div>

                <!-- Scene -->
                <div class="scene-container">
                    <div class="scene-border-line"></div>
                    <div class="scene-body"></div>
                    <span class="scene-label">Сцена</span>
                </div>

                <!-- Table 24 -->
                <div class="table-group" style="width: 112.83px; height: 112.76px; left: 643px; top: 53px;">
                    <div class="table__chair" style="left: 41px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table__chair" style="left: 82px; top: 42px; transform: rotate(-90.6deg);"></div>
                    <div class="table__chair" style="left: 3.74px; top: 44.03px; transform: rotate(88.88deg);"></div>
                    <div class="table__chair" style="left: 41px; top: 2px; transform: rotate(-179.18deg);"></div>
                    <div class="table" style="width: 40.8px; height: 40.89px; left: 36px; top: 36px;">
                        <div class="table__body" style="width: 40.76px; height: 40.67px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">24</span>
                    </div>
                </div>

                <!-- Table 25 -->
                <div class="table-group" style="width: 75.83px; height: 112.76px; left: 508px; top: 39px;">
                    <div class="table__chair" style="left: 44px; top: -1px; transform: rotate(-179.44deg);"></div>
                    <div class="table__chair" style="left: 5px; top: -1px; transform: rotate(-178.95deg);"></div>
                    <div class="table__chair" style="left: 46px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table__chair" style="left: 6px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table" style="width: 75.28px; height: 41px; left: 0px; top: 36px;">
                        <div class="table__body" style="width: 40.76px; height: 75.15px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">25</span>
                    </div>
                </div>

                <!-- Table 26 -->
                <div class="table-group" style="width: 118.7px; height: 75.48px; left: 664.59px; top: 365px;">
                    <div class="table__sofa" style="width: 68px; height: 28.71px; left: 89.41px; top: 2px; transform: rotate(89.51deg);"></div>
                    <div class="table__sofa" style="width: 68px; height: 28.37px; left: 0px; top: 3.98px; transform: rotate(-89.84deg);"></div>
                    <div class="table" style="width: 41.37px; height: 75.48px; left: 39.41px; top: 0px;">
                        <div class="table__body" style="width: 40.76px; height: 75.15px; left: 0; top: 0; transform: rotate(-0.46deg);"></div>
                        <span class="table__number" style="left: 1px; top: 2px;">26</span>
                    </div>
                </div>

                <!-- Table 27 -->
                <div class="table-group" style="width: 112.83px; height: 112.76px; left: 643px; top: 476px;">
                    <div class="table__chair" style="left: 42px; top: 80px; transform: rotate(0.27deg);"></div>
                    <div class="table__chair" style="left: 81.53px; top: 45.68px; transform: rotate(-89.02deg);"></div>
                    <div class="table__chair" style="left: 3.78px; top: 44.08px; transform: rotate(89.06deg);"></div>
                    <div class="table__chair" style="left: 41px; top: 4px; transform: rotate(179.89deg);"></div>
                    <div class="table" style="width: 40.8px; height: 40.89px; left: 35px; top: 36px;">
                        <div class="table__body" style="width: 40.76px; height: 40.67px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 0px; top: 0px;">27</span>
                    </div>
                </div>

                <!-- Table 28 -->
                <div class="table-group" style="width: 75.28px; height: 112.76px; left: 508px; top: 484px;">
                    <div class="table__chair" style="left: 6px; top: 3px; transform: rotate(-178.73deg);"></div>
                    <div class="table__chair" style="left: 45px; top: 3px; transform: rotate(-178.43deg);"></div>
                    <div class="table__chair" style="left: 46px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table__chair" style="left: 5px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table" style="width: 75.28px; height: 41px; left: 0px; top: 36px;">
                        <div class="table__body" style="width: 40.76px; height: 75.15px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 1px; top: 0px;">28</span>
                    </div>
                </div>

                <!-- Table 29 -->
                <div class="table-group" style="width: 75.28px; height: 112.76px; left: 351px; top: 484px;">
                    <div class="table__chair" style="left: 7px; top: 3px; transform: rotate(179.33deg);"></div>
                    <div class="table__chair" style="left: 42.61px; top: 3.44px; transform: rotate(179.67deg);"></div>
                    <div class="table__chair" style="left: 46px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table__chair" style="left: 5px; top: 84px; transform: rotate(0.33deg);"></div>
                    <div class="table" style="width: 75.28px; height: 41px; left: 0px; top: 36px;">
                        <div class="table__body" style="width: 40.76px; height: 75.15px; left: 0; top: 0; transform: rotate(-89.82deg);"></div>
                        <span class="table__number" style="left: 1px; top: 0px;">29</span>
                    </div>
                </div>
            </div>

            <!-- ==================== VERANDA ==================== -->
            <div class="veranda-container">
                <div class="veranda-body"></div>

                <!-- Table 19 -->
                <div class="table-group" style="width: 88.38px; height: 84.34px; left: 6px; top: 29px;">
                    <div class="table__chair" style="left: 49px; top: 49px; transform: rotate(-43.5deg);"></div>
                    <div class="table__chair" style="left: 53.05px; top: 3.98px; transform: rotate(-137.03deg);"></div>
                    <div class="table__chair" style="left: 1px; top: 0px; transform: rotate(135.84deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 49px; transform: rotate(46.42deg);"></div>
                    <div class="table" style="width: 54.51px; height: 54.51px; left: 15px; top: 16px;">
                        <div class="table__body" style="width: 38.14px; height: 38.96px; left: 0; top: 0; transform: rotate(-44.95deg);"></div>
                        <span class="table__number" style="left: 19px; top: 5px;">19</span>
                    </div>
                </div>

                <!-- Table 20 -->
                <div class="table-group" style="width: 96.91px; height: 94.16px; left: 79px; top: 87.72px;">
                    <div class="table__chair" style="left: 71.83px; top: 34.18px; transform: rotate(-89.83deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 34.28px; transform: rotate(89.97deg);"></div>
                    <div class="table__chair" style="left: 37.44px; top: 0px; transform: rotate(178.48deg);"></div>
                    <div class="table__chair" style="left: 39px; top: 68.28px; transform: rotate(-2.07deg);"></div>
                    <div class="table" style="width: 39.8px; height: 39.09px; left: 27.82px; top: 27.28px;">
                        <div class="table__body" style="width: 38.14px; height: 38.96px; left: 0; top: 0.09px; transform: rotate(-91.28deg);"></div>
                        <span class="table__number" style="left: 1.18px; top: 0px;">20</span>
                    </div>
                </div>

                <!-- Table 21 -->
                <div class="table-group" style="width: 86.26px; height: 87.34px; left: 9px; top: 161px;">
                    <div class="table__chair" style="left: 50px; top: 52px; transform: rotate(-43.5deg);"></div>
                    <div class="table__chair" style="left: 0px; top: 0px; transform: rotate(135.34deg);"></div>
                    <div class="table__chair" style="left: 50.91px; top: 3.89px; transform: rotate(-133.93deg);"></div>
                    <div class="table__chair" style="left: 1px; top: 51px; transform: rotate(47.63deg);"></div>
                    <div class="table" style="width: 54.51px; height: 54.51px; left: 15px; top: 16px;">
                        <div class="table__body" style="width: 38.14px; height: 38.96px; left: 0; top: 0; transform: rotate(-44.95deg);"></div>
                        <span class="table__number" style="left: 19px; top: 6px;">21</span>
                    </div>
                </div>
            </div>

            <!-- ==================== OTHER ROOMS ==================== -->
            <!-- Kitchen -->
            <div class="kitchen-container">
                <div class="kitchen-body"></div>
                <span class="kitchen-label">Кухня</span>
            </div>

            <!-- Reception -->
            <div class="reception-container">
                <div class="reception-body"></div>
            </div>

            <!-- WC1 -->
            <div class="WC1-container">
                <div class="WC1-body"></div>
                <span class="WC-label">WC</span>
                <div class="door" style="left: 14px; top: 56px;"></div>
            </div>

            <!-- WC2 -->
            <div class="WC2">
                <span class="WC2__label">WC2</span>
                <div class="door" style="left: 6px; top: 46px;"></div>
            </div>

            <!-- Kid Room -->
            <div class="kid-room-container">
                <div class="kid-room-body"></div>
                <span class="kid-room-label">Детская</span>
                <div class="door" style="left: 5px; top: 59px;"></div>
            </div>

            <!-- Wardrobe -->
            <div class="wardrobe-container">
                <div class="wardrobe-body"></div>
                <div class="wardrobe-line"></div>
                <span class="wardrobe-label">Гардероб</span>
                <div class="door" style="left: 222px; top: 74px; transform: matrix(0.01, 1, 1, -0.01, 0, 0);"></div>
                <div class="door" style="left: 222px; top: 107px; transform: rotate(-90.42deg);"></div>
            </div>

            <!-- Corridors -->
            <div class="corridor2">
                <span class="corridor2-text">Проход 2</span>
            </div>

            <!-- Exit -->
            <div class="exite-block">
                <span class="exit-text">Выход</span>
            </div>

            <!-- Dishwasher -->
            <div class="dishwasher-room-container">
                <div class="dishwasher-body"></div>
                <span class="dishwasher-label">Посуду мыть</span>
            </div>

            <!-- Ladder -->
            <div class="ladder-container">
                <div class="ladder-body"></div>
                <span class="ladder-label">Уборная и лестница</span>
                <div class="door" style="left: 109px; top: 23px; transform: rotate(-89.26deg);"></div>
                <div class="door" style="left: 54px; top: 98px; transform: rotate(-0.67deg);"></div>
            </div>

            <!-- ==================== PROMPT / LEGEND ==================== -->
            <div class="prompt">
                <div class="prompt--pirple"></div>
                <span class="prompt-text prompt-text--reserved">Стол забронирован</span>
                <div class="prompt--red"></div>
                <span class="prompt-text prompt-text--busy">Стол занят</span>
                <div class="prompt-green"></div>
                <span class="prompt-text prompt-text--free">Стол свободен</span>
            </div>
        </main>

        <!-- ==================== POPUP WINDOWS ==================== -->
        <!-- Information Popup -->
        <div class="popup-overlay" id="popup-information">
            <div class="information-popup-window">
                <span class="popup-title">Информация о заведении</span>
                <div class="information-block information-block1">
                    В сентябре 2019 в самом центре, открылся комплекс Тулиновъ Дом.
                    Помещение поделено на 3 зала: камерный каминный зал, просторный зал на 2 этаже,
                    основной зал ресторана с большой стеной из живых растений и круглый зал кафе,
                    потолок которого венчает стеклянный купол. Меню представлено блюдами русской и европейской кухни.
                </div>
                <div class="information-block information-block2">Адрес ул. Советская д. 1</div>
                <div class="information-block information-block3">Телефон: 8-(800)-555-35-35</div>
                <div class="information-block information-block4">Email: bubu@gmail.com</div>
                <button class="popup-close" style="position:absolute;top:10px;right:15px;background:none;border:none;color:#fff;font-size:24px;cursor:pointer;">×</button>
            </div>
        </div>

        <!-- Personal Popup -->
        <div class="popup-overlay" id="popup-personal">
            <div class="personal-popup-window">
                <div class="personal__container">
                    <div class="personal__block">
                        <div style="display:flex;flex-direction:column;gap:27px;">
                            <div class="personal__button" style="width:221px;height:74px;">
                                <span class="personal__button-text">График персонала</span>
                            </div>
                            <div class="personal__button" style="width:221px;height:74px;">
                                <span class="personal__button-text">Статус на месте</span>
                            </div>
                        </div>
                        <span style="font-family:Inter;font-size:22px;color:#fff;position:absolute;right:30px;top:20px;">Персонал</span>
                    </div>
                    <div class="personal__block" style="flex-direction:column;padding:41px 69px 41px 51px;height:353px;">
                        <div class="personal__button" style="width:194px;height:74px;">
                            <span class="personal__button-text">Экстренные действия</span>
                        </div>
                        <div class="personal__button" style="width:445px;height:138px;align-self:stretch;">
                            <span class="personal__button-text">Вызвать доп персонал (При нажатии рассылает push-уведомление свободным сотрудникам о необходимости выйти на подработку из-за пиковой нагрузки.)</span>
                        </div>
                    </div>
                </div>
                <button class="popup-close" style="position:absolute;top:10px;right:15px;background:none;border:none;color:#fff;font-size:24px;cursor:pointer;">×</button>
            </div>
        </div>

        <!-- Analytics Popup -->
        <div class="popup-overlay" id="popup-analytics">
            <div class="analytics-popup-window">
                <span class="analytics-title">Аналитика</span>
                <div class="analytics-container">
                    <div class="analytics__button" style="width:238px;height:74px;">
                        <span class="analytics__button-text">Дашборд пиковых нагрузок</span>
                    </div>
                    <div class="analytics__button" style="width:467px;height:101px;">
                        <span class="analytics__button-text">Сравнение «План vs Факт»: Наложение реальной посещаемости на прогнозную для обучения модели AI.</span>
                    </div>
                    <div class="analytics__button" style="width:282px;height:47px;">
                        <span class="analytics__button-text">Анализ по дням недели:</span>
                    </div>
                    <div class="analytics__button" style="width:206px;height:47px;">
                        <span class="analytics__button-text">Экспорт отчетов:</span>
                    </div>
                    <div class="analytics__button" style="width:207px;height:47px;">
                        <span class="analytics__button-text">Прогноз закупок:</span>
                    </div>
                </div>
                <button class="popup-close" style="position:absolute;top:10px;right:15px;background:none;border:none;color:#fff;font-size:24px;cursor:pointer;">×</button>
            </div>
        </div>

        <!-- Reserve Popup -->
        <div class="popup-overlay" id="popup-reserve">
            <div class="reserve-popup-window">
                <div class="reserve-list-block">
                    <span class="reserve-text">
                        Заказы на бронирование:<br><br>
                        Стол № 8 — заказ с 13:30 ожидает подтверждения брони<br><br>
                        Стол № 17 — забронирован на время 17:00 (заказ от 9:40)
                    </span>
                </div>
                <button class="popup-close" style="position:absolute;top:10px;right:15px;background:none;border:none;color:#fff;font-size:24px;cursor:pointer;">×</button>
            </div>
        </div>

        <!-- Table Tooltip -->
        <div class="description-window" id="table-tooltip">
            <span class="description-text tooltip-table-number">Стол № 1</span>
            <span class="description-text tooltip-status">Статус: Свободен</span>
            <span class="description-text tooltip-guests">Количество гостей: 0</span>
            <span class="description-text tooltip-waiter">Официант: №0</span>
        </div>
    </div>

    <script src="~/js/restaurant-map.js" asp-append-version="true"></script>
</body>
</html>
